.git
.gitignore
.venv
.virtual_documents
.viz
.vscode
.dvc
info.log
uv.lock
README.md
*.pyc
__pycache__
.pytest_cache
*.egg-info
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
Thumbs.db